* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;}
    
 .sub-titulo{
    color: red;
    background-color: black;
 }

 .encabezado{
    background-color:black ;
    color: blue;
 }
 .formulario{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 1em;
 }

 .contacto{
    color:black;

 }
 

 
